Caderno de exploracao dos dados do datasus 2008 pra frente

In [206]:
import pandas as pd

In [207]:
dados_da_populacao = """Posição	Unidade federativa	População	% da pop. total	País comparável
(habitantes)

1	 São Paulo	46 289 333	21,9%	Flag of Spain.svg Espanha (46 439 864)
2	 Minas Gerais	21 292 666	10,1%	 Sri Lanka (20 675 000)
3	 Rio de Janeiro	17 366 189	8,2%	 Países Baixos (16 922 900)
4	Bahia Bahia	14 930 634	7,1%	 Chade (14 037 000)
5	 Paraná	11 516 840	5,4%	 Bolívia (11 410 651)
6	 Rio Grande do Sul	11 422 973	5,4%	 Bélgica (11 250 659)
7	 Pernambuco	9 616 621	4,5%	 Bielorrússia (9 485 300)
8	 Ceará	9 187 103	4,3%	 Emirados Árabes Unidos (9 157 000)
9	Pará Pará	8 690 745	4,1%	 Áustria (8 602 112)
10	 Santa Catarina	7 252 502	3,4%	 Sérvia (7 114 393)
11	 Maranhão	7 114 598	3,4%	 Paraguai (7 003 406)
12	 Goiás	7 113 540	3,4%	 Paraguai (7 003 406)
13	 Amazonas	4 207 714	2,0%	 Líbano (4 168 000)
14	 Espírito Santo	4 064 052	1,9%	 Líbano (4 168 000)
15	 Paraíba	4 039 277	1,9%	 Líbano (4 168 000)
16	 Rio Grande do Norte	3 534 165	1,7%	 Uruguai (3 415 866)
17	 Mato Grosso	3 526 220	1,7%	 Uruguai (3 415 866)
18	 Alagoas	3 351 543	1,6%	 Uruguai (3 415 866)
19	 Piauí	3 281 480	1,6%	 Kuwait (3 268 431)
20	 Distrito Federal	3 055 149	1,4%	 Lituânia (2 900 787)
21	 Mato Grosso do Sul	2 809 394	1,3%	 Jamaica (2 717 991)
22	 Sergipe	2 318 822	1,1%	 Namíbia (2 280 700)
23	 Rondônia	1 796 460	0,8%	 Gabão (1 725 000)
24	 Tocantins	1 590 248	0,7%	 Bahrein (1 359 800)
25	 Acre	894 470	0,4%	 Fiji (859 178)
26	 Amapá	861 773	0,4%	 Fiji (859 178)
27	 Roraima	631 181	0,3%	 Luxemburgo (562 958)"""

# fonte: https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o#cite_note-IBGE_POP-1

In [208]:
from io import StringIO

dados_da_populacao_io = StringIO(dados_da_populacao)

pd.read_csv(dados_da_populacao_io, sep="\t")

,Posição,Unidade federativa,População,% da pop. total,País comparável
0,(habitantes),NaN,NaN,NaN,NaN
1,1,São Paulo,46 289 333,"21,9%",Flag of Spain.svg Espanha (46 439 864)
2,2,Minas Gerais,21 292 666,"10,1%",Sri Lanka (20 675 000)
3,3,Rio de Janeiro,17 366 189,"8,2%",Países Baixos (16 922 900)
4,4,Bahia Bahia,14 930 634,"7,1%",Chade (14 037 000)
5,5,Paraná,11 516 840,"5,4%",Bolívia (11 410 651)
6,6,Rio Grande do Sul,11 422 973,"5,4%",Bélgica (11 250 659)
7,7,Pernambuco,9 616 621,"4,5%",Bielorrússia (9 485 300)
8,8,Ceará,9 187 103,"4,3%",Emirados Árabes Unidos (9 157 000)
9,9,Pará Pará,8 690 745,"4,1%",Áustria (8 602 112)
10,10,Santa Catarina,7 252 502,"3,4%",Sérvia (7 114 393)
11,11,Maranhão,7 114 598,"3,4%",Paraguai (7 003 406)
12,12,Goiás,7 113 540,"3,4%",Paraguai (7 003 406)
13,13,Amazonas,4 207 714,"2,0%",Líbano (4 168 000)
14,14,Espírito Santo,4 064 052,"1,9%",Líbano (4 168 000)
15,15,Paraíba,4 039 277,"1,9%",Líbano (4 168 000)
16,16,Rio Grande do Norte,3 534 165,"1,7%",Uruguai (3 415 866)
17,17,Mato Grosso,3 526 220,"1,7%",Uruguai (3 415 866)
18,18,Alagoas,3 351 543,"1,6%",Uruguai (3 415 866)
19,19,Piauí,3 281 480,"1,6%",Kuwait (3 268 431)
20,20,Distrito Federal,3 055 149,"1,4%",Lituânia (2 900 787)
21,21,Mato Grosso do Sul,2 809 394,"1,3%",Jamaica (2 717 991)
22,22,Sergipe,2 318 822,"1,1%",Namíbia (2 280 700)
23,23,Rondônia,1 796 460,"0,8%",Gabão (1 725 000)
24,24,Tocantins,1 590 248,"0,7%",Bahrein (1 359 800)
25,25,Acre,894 470,"0,4%",Fiji (859 178)
26,26,Amapá,861 773,"0,4%",Fiji (859 178)
27,27,Roraima,631 181,"0,3%",Luxemburgo (562 958)

# Desafio 1: ler esse arquivo direto do wikipedia (html).

In [209]:
#Importar lib de websraping
from bs4 import BeautifulSoup
from urllib.request import urlopen

#objetos da lib
url = 'https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o#cite_note-IBGE_POP-1'
response = urlopen(url)
html = response.read()
soup = BeautifulSoup(html)


tabela = soup.find('table')

for registro in tabela[1:]:
    
    dicionario_tabela = {}
    contador = 0
    
    
    #Posicao
    dicionario_tabela['posicao'] = contador + 1
    contador += contador

    #UF
    dicionario_tabela['uf'] = registro.find('td',{'align':'left'}).get_text()


    #Populacao
    dicionario_tabela['populacao'] = registro.find('td',{'align':'right'}).get_text()

    #Porcentagem
    dicionario_tabela['porc_pop'] = registro.find('td',{'align':'right'}).findNext('td').get_text()

    #Pais comparavel
    dicionario_tabela['pais_comp'] = registro.find('td',{'align':'right'}).findNext('td').findNext('td').get_text()
    
    
df = pd.DataFrame(dicionario_tabela)
df

TypeError: unhashable type: 'slice'

In [212]:
tabela = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o#cite_note-IBGE_POP-1')

tabela_1 = tabela[0]
tabela_1

,Posição,Unidade federativa,População,% da pop. total,País comparável (habitantes)
0,1,São Paulo,46 289 333,"21,9%",Espanha (46 439 864)
1,2,Minas Gerais,21 292 666,"10,1%",Sri Lanka (20 675 000)
2,3,Rio de Janeiro,17 366 189,"8,2%",Países Baixos (16 922 900)
3,4,Bahia,14 930 634,"7,1%",Chade (14 037 000)
4,5,Paraná,11 516 840,"5,4%",Bolívia (11 410 651)
5,6,Rio Grande do Sul,11 422 973,"5,4%",Bélgica (11 250 659)
6,7,Pernambuco,9 616 621,"4,5%",Bielorrússia (9 485 300)
7,8,Ceará,9 187 103,"4,3%",Emirados Árabes Unidos (9 157 000)
8,9,Pará,8 690 745,"4,1%",Áustria (8 602 112)
9,10,Santa Catarina,7 252 502,"3,4%",Sérvia (7 114 393)
10,11,Maranhão,7 114 598,"3,4%",Paraguai (7 003 406)
11,12,Goiás,7 113 540,"3,4%",Paraguai (7 003 406)
12,13,Amazonas,4 207 714,"2,0%",Líbano (4 168 000)
13,14,Espírito Santo,4 064 052,"1,9%",Líbano (4 168 000)
14,15,Paraíba,4 039 277,"1,9%",Líbano (4 168 000)
15,16,Rio Grande do Norte,3 534 165,"1,7%",Uruguai (3 415 866)
16,17,Mato Grosso,3 526 220,"1,7%",Uruguai (3 415 866)
17,18,Alagoas,3 351 543,"1,6%",Uruguai (3 415 866)
18,19,Piauí,3 281 480,"1,6%",Kuwait (3 268 431)
19,20,Distrito Federal,3 055 149,"1,4%",Lituânia (2 900 787)
20,21,Mato Grosso do Sul,2 809 394,"1,3%",Jamaica (2 717 991)
21,22,Sergipe,2 318 822,"1,1%",Namíbia (2 280 700)
22,23,Rondônia,1 796 460,"0,8%",Gabão (1 725 000)
23,24,Tocantins,1 590 248,"0,7%",Bahrein (1 359 800)
24,25,Acre,894 470,"0,4%",Fiji (859 178)
25,26,Amapá,861 773,"0,4%",Fiji (859 178)
26,27,Roraima,631 181,"0,3%",Luxemburgo (562 958)

# Desafio 2: Padronizar dados da tabela

In [213]:
tabela_1.head()

,Posição,Unidade federativa,População,% da pop. total,País comparável (habitantes)
0,1,São Paulo,46 289 333,"21,9%",Espanha (46 439 864)
1,2,Minas Gerais,21 292 666,"10,1%",Sri Lanka (20 675 000)
2,3,Rio de Janeiro,17 366 189,"8,2%",Países Baixos (16 922 900)
3,4,Bahia,14 930 634,"7,1%",Chade (14 037 000)
4,5,Paraná,11 516 840,"5,4%",Bolívia (11 410 651)

In [214]:
tabela_1.columns = ['posicao', 'UF', 'populacao', '%pop', 'pais_comparavel']

tabela_1['populacao'] = tabela_1['populacao'].str.replace(' ','').astype('int')

tabela_1 = tabela_1.set_index('UF')

In [215]:
tabela_1

,posicao,populacao,%pop,pais_comparavel
UF,,,,
São Paulo,1,46289333,"21,9%",Espanha (46 439 864)
Minas Gerais,2,21292666,"10,1%",Sri Lanka (20 675 000)
Rio de Janeiro,3,17366189,"8,2%",Países Baixos (16 922 900)
Bahia,4,14930634,"7,1%",Chade (14 037 000)
Paraná,5,11516840,"5,4%",Bolívia (11 410 651)
Rio Grande do Sul,6,11422973,"5,4%",Bélgica (11 250 659)
Pernambuco,7,9616621,"4,5%",Bielorrússia (9 485 300)
Ceará,8,9187103,"4,3%",Emirados Árabes Unidos (9 157 000)
Pará,9,8690745,"4,1%",Áustria (8 602 112)
Santa Catarina,10,7252502,"3,4%",Sérvia (7 114 393)
Maranhão,11,7114598,"3,4%",Paraguai (7 003 406)
Goiás,12,7113540,"3,4%",Paraguai (7 003 406)
Amazonas,13,4207714,"2,0%",Líbano (4 168 000)
Espírito Santo,14,4064052,"1,9%",Líbano (4 168 000)
Paraíba,15,4039277,"1,9%",Líbano (4 168 000)
Rio Grande do Norte,16,3534165,"1,7%",Uruguai (3 415 866)
Mato Grosso,17,3526220,"1,7%",Uruguai (3 415 866)
Alagoas,18,3351543,"1,6%",Uruguai (3 415 866)
Piauí,19,3281480,"1,6%",Kuwait (3 268 431)
Distrito Federal,20,3055149,"1,4%",Lituânia (2 900 787)
Mato Grosso do Sul,21,2809394,"1,3%",Jamaica (2 717 991)
Sergipe,22,2318822,"1,1%",Namíbia (2 280 700)
Rondônia,23,1796460,"0,8%",Gabão (1 725 000)
Tocantins,24,1590248,"0,7%",Bahrein (1 359 800)
Acre,25,894470,"0,4%",Fiji (859 178)
Amapá,26,861773,"0,4%",Fiji (859 178)
Roraima,27,631181,"0,3%",Luxemburgo (562 958)


# Desafio 3: Buscar na documentação alguns métodos envolvendo strings

.str.lower()  #Colocar todas as letras de uma serie em letra minúscula

.str.upper()  #Colocar todas as letras de uma serie em letra maiúscula

.str.strip() / .str.lstrip() / .str.rstrip() #Remove espaços indesejáveis antes ou depois das palavras (os dois, ou lado só lado esquerdo ou só o lado direito)

.str.replace("sinal_1", "sinal_2") #Modifica um determinado elemento por outro 

.str.contains("palvra_específica")  #"Filtra" baseado em um conjunto de caracteres específicos

.str.cat("elemento_adicionado") #Adiciona (concatena) um caracter a outro

# Desafio 4: Desenvolver uma função para a limpeza e tratamento dos dados, retornando duas tabelas "população" e "unida"

In [219]:
gastos_do_mais_recente.to_csv('gastos_do_mais_recente')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [229]:
gastos_do_mais_recente = pd.read_csv('gastos_do_mais_recente', header=-1)

In [230]:
gastos_do_mais_recente.columns = ['uf','2020/jul']
gastos_do_mais_recente.head()

                     uf  2020/jul
0          35 São Paulo    282.71
1       31 Minas Gerais    120.47
2             41 Paraná     80.32
3  43 Rio Grande do Sul     78.93
4     33 Rio de Janeiro     71.54

In [246]:
tabela_1 = tabela_1.reset_index()
populacao = tabela_1[['UF','populacao']]
populacao.head()

               UF  populacao
0       São Paulo   46289333
1    Minas Gerais   21292666
2  Rio de Janeiro   17366189
3           Bahia   14930634
4          Paraná   11516840

In [247]:
populacao.join(gastos_do_mais_recente)

                     UF  populacao                      uf  2020/jul
0             São Paulo   46289333            35 São Paulo    282.71
1          Minas Gerais   21292666         31 Minas Gerais    120.47
2        Rio de Janeiro   17366189               41 Paraná     80.32
3                 Bahia   14930634    43 Rio Grande do Sul     78.93
4                Paraná   11516840       33 Rio de Janeiro     71.54
5     Rio Grande do Sul   11422973           26 Pernambuco     62.33
6            Pernambuco    9616621                29 Bahia     58.90
7                 Ceará    9187103       42 Santa Catarina     51.76
8                  Pará    8690745                52 Goiás     33.50
9        Santa Catarina    7252502                23 Ceará     30.81
10             Maranhão    7114598                 15 Pará     27.62
11                Goiás    7113540       32 Espírito Santo     27.46
12             Amazonas    4207714             21 Maranhão     24.37
13       Espírito Santo    4064052     53 Distrito Federal     22.23
14              Paraíba    4039277  24 Rio Grande do Norte     19.59
15  Rio Grande do Norte    3534165                22 Piauí     18.02
16          Mato Grosso    3526220              25 Paraíba     15.49
17              Alagoas    3351543             13 Amazonas     13.36
18                Piauí    3281480              27 Alagoas     13.09
19     Distrito Federal    3055149          51 Mato Grosso     13.08
20   Mato Grosso do Sul    2809394   50 Mato Grosso do Sul     12.51
21              Sergipe    2318822             11 Rondônia      7.41
22             Rondônia    1796460            17 Tocantins      4.49
23            Tocantins    1590248              28 Sergipe      3.31
24                 Acre     894470              14 Roraima      2.74
25                Amapá     861773                16 Amapá      2.16
26              Roraima     631181                 12 Acre      1.16